# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# MLflow
mlruns/
mlartifacts/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.png
*.jpg
*.json
!metrics.json.example

# Docker
*.tar

# Private
Notebook.ipynb
